doctype html  
html   
    head        
        meta(charset='UTF-8')        
        title LGTV Channel Control - Channel List
        style
            include ..\public\stylesheets\bootstrap.min.css
    body        
        main#main
        h3.ui.center.aligned.header Channel List for TV # #{selectedTV}
        a(href="/returnToMain")
            button(type='button' 
                        class='btn btn-primary' 
                        value="Back to TV Select Menu") Return to TV Select Menu
            
        
        