doctype html  
html   
    head        
        meta(charset='UTF-8')        
        title LGTV Channel Control
        style
            include ../public/stylesheets/bootstrap.min.css
        script
            include ../public/javascripts/homefunctions.js
    body        
        main#main
        h3.ui.center.aligned.header LGTV Channel Control
        div(class="btn-toolbar mr-1" id="btnDiv")
            each tv in tvList
                button(type='button' 
                    class='btn btn-primary' 
                    style='margin-left: 5px;'
                    onClick='showChannels(' + tv.tvNumber + ');') TV # #{tv.tvNumber}
        form(action="gotoChannelsPage" method="POST")
            input(type="hidden" id="selectedTV" name="selectedTV" value="")
